version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: campuseats_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: campuseats
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: campuseats_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    env_file:
      - ./backend/.env

volumes:
  mysql_data:
